<template lang="pug">
	section.homepage
		p
			span.greeting Hey,
			| I'm Gabe and this is my blog.  I'm a web developer by trade but enjoy
			| all kinds of things outside of that.  I play guitar, watch a lot of
			| movies and TV, enjoy riding my bike, and spend a lot of time keeping up
			| with politics and current affairs.
		p
			| Anyway, if you're here, you probably know me.  And if you don't, maybe
			| you should!
		p
			h1 Posts
			PostList(:posts="posts")
</template>

<script>
	import posts from '~/posts';

	const PostList = async () => await import('~/components/PostList');

	export default {
		name: 'Home',
		components: { PostList },
		data () {
			return { posts };
		}
	};
</script>

<style lang="scss" scoped>
	span.greeting {
		font-weight: 600;
		font-size: 1.25rem;
		display: inline-block;
		margin-right: .25rem;
	}
</style>
