<template lang="pug">
	div#default-layout
		header
			img.profile(src="~/images/gabe.jpg", alt="A photo of Gabe")
			span.title
				a(href="https://gabe.xyz") Gabe
				| 's Blog
			div.home-link
				router-link(to="/")
					span.hidden Home
					HomeIcon
		router-view
</template>

<script>
	import { HomeIcon } from 'vue-feather-icons';

	export default {
		name: 'DefaultLayout',
		components: { HomeIcon }
	};
</script>

<style lang="scss" scoped>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: .5rem .5rem;
		img.profile {
			height: 2.5rem;
			border-radius: 50%;
			margin-right: .5rem;
		}
		span.title {
			font-family: "Rubik";
			text-transform: lowercase;
			font-style: italic;
			font-weight: 600;
			font-size: 1.25rem;
			flex-grow: 1;
			a:visited { color: inherit; }
		}
		div.home-link {
			a {
				color: inherit;
				span.hidden { display: none; }
			}
		}
	}
</style>
