<template lang="pug">
	li.post-item
		router-link.title.heading(:to="`/post/${post.slug}`") {{ post.title }}
		span.date {{ post.date | localize }}
		p.snippet {{ post.snippet }}
</template>

<script>
	const postTemplate = {
		title: null,
		date: null,
		slug: null,
		snippet: null
	};

	export default {
		name: 'PostItem',
		props: {
			post: {
				type: Object,
				default: () => postTemplate,
				validator (post) {
					for (let key in postTemplate) if (!(key in post)) return false;
					return true;
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import '~/scss/base16-ocean';

	li.post-item {
		border-bottom: .125rem solid $base05;
		display: flex;
		flex-wrap: wrap;
		a.title {
			font-size: 1.25rem;
			margin-right: .5rem;
		}
		p.snippet {
			margin-top: 0;
			margin-bottom: .5rem;
		}
	}
</style>
