<template lang="pug">
	ul.post-list
		PostItem(v-for="post in posts", :key="post.title", :post="post")
</template>

<script>
	const PostItem = async () => await import('~/components/PostItem');

	export default {
		name: 'PostList',
		components: { PostItem },
		props: {
			posts: {
				type: Array,
				default: () => []
			}
		}
	};
</script>

<style lang="scss" scoped>
	ul.post-list {
		list-style-type: none;
		padding: 0;
	}
</style>
