@import 'sanitize.css';
@import 'sanitize.css/typography.css';
@import '~/scss/base16-ocean';

html {
	background-color: $base00;
	color: $base05;
	font-size: 125%;
	font-family: "Karla";
	line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6, .heading {
	font-family: "Rubik";
	&:not(.title) { text-transform: lowercase; }
}

.heading {
	font-weight: 600;
	display: block;
}

section, article {
	padding: 0 .5rem;
	max-width: 40rem;
	margin: auto;
}

article > section { padding: 0; }

a {
	color: $base05;
	&:visited { color: $base04; }
}

hr {
	border: none;
	border-bottom: .125rem solid $base05;
}

hr + p {
	margin-top: 0;
}
